*{
    padding: 0;
    margin: 0;
     font-family: "Playfair Display", serif;
}



/* nav,header */
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left, rgba(101, 98, 98, 0.4)),url(image/landing.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul{
    display: flex;
    padding: 0 3px;
    list-style: none;
    
}
.navlinks ul li{
    padding: 0 28px;
    display: inline-block;
}
.navlinks ul li a{
    flex: 1;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.navright{
    display: flex;
    padding: 0;
}
.navright a{
    text-decoration: none;
    color: #fff;
    padding: 0px 29px;
   text-align: right;
   font-size: 14px;
}
#sin{
    padding: 8px 6px;
}
.navright a button{
    width: 100px;
    height: 38px;
    border-radius: 24px;
    text-align: center;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #F9C06A;
}
.text-box{
   text-align: left;
   padding-top: 120px;
   padding-left: 85px;
}
.text-box p{
    font-size: 22px;
    color: #FFFFFF;
}
.text-box h1{
font-family: "Clicker Script", cursive;
color: #FFFFFF;
font-size: 220px;
font-weight: lighter;
}
.hero-btn button{
    width: 134px;
    height: 38px;
    border-radius: 24px;
    background-color:#F9C06A ;
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 700px){
    .header{
        height: 100vh;
    }
    nav{
        align-items: center;
        flex-direction: column;
    }
    .logo img{
         padding: 10px 0px;
         align-items: center;
         width: 100%;
         object-fit: cover;
    }
    .text-box{
        margin: auto;
        padding: 0px 0px;
    }
    .navlinks ul{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 6px 0px;
        width: auto;
    }
    .navlinks ul li a{
        font-size: 17px;
        padding: 13px 0px;
        text-align: center;
        align-items: center;
    }
    .navright{
        flex-direction: column;
        padding: 0px 0px;
    }
    #sin{
    padding: 06px 0px;
}
    .navright a{
        align-items: center;
        text-align: center;
        font-size: 17px;
    }
    .navright a button{
        font-size: 16px;
        height: 26px;
    }
    
    .text-box{
   padding-top: 40px;
   padding-left: 25px;
}
.text-box p{
    font-size: 18px;
    color: #FFFFFF;
}
.text-box h1{
font-family: "Clicker Script", cursive;
color: #FFFFFF;
font-size:90px;
font-weight: lighter;
}
.hero-btn button{
    width: 134px;
    height: 38px;
    border-radius: 24px;
    background-color:#F9C06A ;
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
}

/* discover */
.discover{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding:  100px 90px 0px 90px;
}
.disleft{
    align-items: center;
}
.disleft-1 h1{
    font-size: 54px;
    color: #603809;
}

.disleft-1 p{
    color: #707070;
    font-size: 20px;
    padding: 18px 0px;
}
.disleft-1 button{
    padding: 14px 0px;
    width: 134px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #F9C06A;
    font-size: 16px;
}
.disleft img{
    margin-left: -210px;
}
.disright img{
    align-items: center;
    margin-top: -40px;
}

@media (max-width: 700px){

    .discover{
     flex-direction: column;
         padding:  10px 20px;   
    }
    .disright img{
    align-items: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.disleft-1 h1{
    font-size: 34px;
    color: #603809;
}

.disleft-1 p{
    color: #707070;
    font-size: 17px;
    padding: 18px 0px;
}
.disleft-1 button{
    padding: 0px 0px;
    width: 124px;
    height: 44px;
    text-align: center;
    border-radius: 24px;
    border: none;
    background-color: #F9C06A;
    font-size: 15px;
}
.disleft img{
    margin-left: -210px;
    width: auto;
}
.disright img{
    align-items: center;
    margin-top: -40px;
}
}
/* products */
.products{
    min-height: 100vh;
}
.products h1{
    color: #603809;
    font-size: 54px;
    text-align: center;
}

.products p{
    color: #707070;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.prodbox{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px 0px 0px ;
}
.box-1{
    background-color: #FFF9F1;
}
.box-1 h3{
    text-align: center;
    font-size: 22px;
    color: #707070;
}
.box-1 h4{
    color: #1E1E1E;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.box-1 h6{
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.box-1  {
    text-align: center;
}
.box-1 a button{
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    border-radius: 24px;
    border: none;
    background-color: #F9C06A;
}
@media(max-width:700px){

    .products h1{
        font-size: 32px;
    }
    .products p{
        font-size: 16px;
    }
}
